@import url('https://fonts.googleapis.com/css?family=Jura');

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin:0;
	font-family: 'Jura', sans-serif;
	color: #ffffff;
}

#score {
	position: absolute;
	top: 16px;
	left: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
}

#score .blue {
	width: 32px;
	height: 32px;
	background-color: #0000ff;
}

#score .item {
	font-size: 18px;
	margin: 0px 4px;
}

#score .red {
	width: 32px;
	height: 32px;
	background-color: #ff0000;
}